<% title "Lista de Estudantes" -%>

<table>
  <tr>
    <th class="gravatar">&nbsp;</th>
    <th>Nome</th>    
    <th>Email</th>
    <th>Fone</th>
    <th>&nbsp;</th>
  </tr>
  
  <% for student in @students %>
    <tr>
      <td><%= link_to gravatar(student.email), student %></td>
      <td><%=h student.name %></td>
      <td><%=h student.email %></td>
      <td><%=h student.phone %></td>
      <td>
        <%= link_to 'Exibir', student %> |
        <%= link_to 'Alterar', edit_student_path(student) %> |
        <%= link_to 'Excluir', student, :confirm => 'Você tem certeza?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Novo estudante', new_student_path %>
