<% title "Estudante: " + h(@student.name) -%>

<p class="show_gravatar"><%= gravatar @student.email, :size => 100 %></p>

<p>
  <b>Email:</b>
  <%=h @student.email %>
</p>

<p>
  <b>Fone:</b>
  <%=h @student.phone %>
</p>

<p>
  <b>Nascimento:</b>
  <%=h @student.birth.to_s_br %>
</p>

<p>
  <b>Endereço:</b>
  <%=h(@student.address) + '<br />' unless @student.address %>
  <% unless @student.district.blank? and @student.city.blank? %>
    B. <%=h @student.district %> - <%=h @student.city %> / <%=h @student.state %><br />
    <b>CEP:</b>
    <%=h @student.zip %>
  <% end %>
</p>

<p>
  <b>Observacao:</b>
  <%= br @student.comment %>
</p>

<% unless @student.classrooms.empty? %>
  <p>
    <b>Cursos Matrículados:</b>
    <ol>
      <% @student.classrooms.each do |classroom| %>
        <li>
          <%= classroom.course.name %> (Turma: <%= classroom.name %>)
        </li>
      <% end %>
    </ol>
  </p>
<% else %>
  <p><em>O estudante não está matriculado em nenhum curso</em></p>
<% end %>

<%= link_to 'Alterar', edit_student_path(@student) %> |
<%= link_to 'Voltar', students_path %>
