<% title "Estudante: " + h(@student.name) -%>
<p>
  <b>Email:</b>
  <%=h @student.email %>
</p>

<p>
  <b>Fone:</b>
  <%=h @student.phone %>
</p>

<p>
  <b>Nascimento:</b>
  <%=h @student.birth %>
</p>

<p>
  <b>Endereço:</b>
  <%=h(@student.address) + '<br />' unless @student.address %>
  <% unless @student.district.blank? and @student.city.blank? %>
    B. <%=h @student.district %> - <%=h @student.city %> / <%=h @student.state %><br />
    <b>CEP:</b>
    <%=h @student.zip %>
  <% end %>
</p>

<p>
  <b>Observacao:</b>
  <%= br @student.comment %>
</p>


<%= link_to 'Alterar', edit_student_path(@student) %> |
<%= link_to 'Voltar', students_path %>
